button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
canvas {
    outline: none;
}
input {
    border: 2px solid var(--bg-accent);
    border-radius: 40px;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    size: 20pt;
    color: green;
    margin: 0px;
}
.canvas-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    position: absolute;
}

.camerabar {
    display: flex;
    align-items: center;
    right: 0px;
    border-top: 1px solid var(--bg-accent);
    position: absolute;
    z-index: 1;
    background-color: #242526;
    height: 100%;
    transition: 0.3s;
}
.camerabar a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.gizmoButton {
    display: flex;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #242526;
    border-top: 1px solid var(--bg-accent);
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 100%;
}

.toolbar a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.assetbar {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--bg-accent);
    position: absolute;
    z-index: 1;
    right: 0px;
    background-color: #242526;
    height: 100%;
}
.assetbar a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.toolbar a:hover {
    filter: brightness(1.2);
}

.toolbar a:active {
    filter: brightness(0.8);
}

.toolbox {
    display:flex;
    justify-content:center;
    align-items:center;
    position: fixed;
    
    bottom: 70px;
    background: #242526;
    border: 3px solid var(--bg-accent);
    border-radius: 50px;
}
.camerabutton {
	border: none;
	font: inherit;
	cursor: pointer;
    text-align: center;

    color: white;

    border-radius: 30px;

    margin: 5px;
    padding: 5px;
    background-color: var(--bg);
    position: relative;

}

.camerabutton:hover {
    filter: brightness(1.2);
}

.camerabutton:active {
    filter: brightness(0.8);
}

.zoom {
    display: flex;
    position: fixed;
    top: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.zoombutton {
	font: inherit;
	cursor: pointer;
    text-align: center;
    justify-content: center;

    border-radius: 50%;
    margin: 5px;
    position: relative;
}

.zoombutton:hover {
    filter: brightness(1.2);
}

.zoombutton:active {
    filter: brightness(0.8);
}
