<div class="start">
        <a href="#" class="list-item">
            <div class="header">Explorer</div>
            <div class="item">CC2 2020</div>
            <div class="item">CC3 2020</div>
            <div class="item">Geac 2020</div>
            <div class="item">Horno Afino Nº4 2020</div>
            <div class="item">Horno Afino Nº5 2020</div>
            <div class="item">REDI</div>
            <div class="item">Sub 19 2020</div>
            <div class="item">Tuneles de Cables</div>
        </a>
        <a href="#" class="list-item load">
            LOAD
        </a>
</div>