@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
a{
    text-align: center;
}
.start{
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 0 1fr;
    position: relative;
    width: 100%;
    height: 100%;
}
.wrapper {
    grid-row: 2;
}
ul {
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(5, 200px);
    width: 100%;

    columns: 12.5rem 2;
    list-style-type: none;
    padding: 0;
}
li {
    /* position: relative; */
    width: fit-content;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    list-style-type: none; 
}
h1 {
    color: #ffffff;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input {
    grid-row: 1;
    -webkit-appearance: none;
    position: relative;
    width: 200px;
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0.5rem 0.5rem;
    border: none;
    border-bottom: 1px solid #ced4da;
    transition: width 3s;
    border-radius: 100px;
    padding-left: 1rem;
}
input:hover {
    width: 500px;
}
input:focus{
    width: 500px;

    outline: none;
    border-bottom: 1px solid #8cb0d4;
}

button {
    width: 200px;
    display: block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #858383;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease, color 200ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: rgba(218, 218, 218, 0.829);
    color: #4e4e4e;
}
button:active {
    transform: scale(0.9);
}
