<!-- <input type="text" #search>
<label for=""> {{ this.search.value}} </label> -->
<div *ngIf="this.isOn" class="start">
    <input type="search" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" placeholder="Search Text">
    <ul class="list">
        <li class="item" *ngFor=" let item of filtereditems">
            <button (click)="this.toggleComponentService.setModel( item.gltf); hide()" >{{ item.gltf }}</button>
        </li>
        <h1 *ngIf="filtereditems.length === 0">Sin Resultados</h1>
    </ul>

</div>